{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>React Chat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'react_chat/styles.css' %}">
  <script src="{% static 'react_chat/vendor.js' %}"></script>
  <script src="{% static 'react_chat/app.js' %}"></script>
</head>
<body>
  <script>
    initialize({
      user: '{{ user|escapejs }}',
    });
  </script>
</body>
</html>
