{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>BB Chat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'bb_chat/styles.css' %}">
</head>
<body>
  <div class="container">
    <div class="content">
        <div class="main"></div>
        <div class="navigation"></div>
    </div>
  </div>
  <script id="navigation-view" type="text/template">
    <div class="header">
      <span class="username">{{ user }}</span>
      <a href="{% url 'chat:create_conversation' %}"><i class="fa fa-plus pull-left"></i></a>
      <a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out pull-right"></i></a>
    </div>
    <div class="conversations"></div>
  </script>
  <script id="conversation-list-view" type="text/template">
    <% conversations.each(function(conversation) { %>
      <div class="conversation">
        <a href="<%- conversation.getViewUrl() %>"><%- conversation.get('name') %></a>
      </div>
    <% }); %>
  </script>
  <script id="chat-view" type="text/template">
    <div class="messages"></div>
    <div class="message new-message">
      <form method="post">
        {% csrf_token %}
        <div class="username">{{ user }}</div>
        <div class="text"><textarea></textarea></div>
        <div><input type="submit" value="Send"></div>
      </form>
    </div>
  </script>
  <script id="message-list-view" type="text/template">
    <% _.each(messages, function(message) { %>
      <div class="message">
        <div class="username"><%- message.author %></div>
        <div class="text"><%- message.text %></div>
      </div>
    <% }); %>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
  <script src="http://coffeescript.org/extras/coffee-script.js"></script>
  <script type="text/coffeescript" data-src="{% static 'bb_chat/app.coffee' %}"></script>
  <script type="text/coffeescript">
    $ ->
      window.app = new App()
      return
  </script>
</body>
</html>
