{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>BB Chat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'bb_chat/styles.css' %}">
</head>
<body>
  <div class="container"></div>
  <script type="text/template" id="app-view">
    <div class="content">
      <div class="main"></div>
      <div class="navigation"></div>
    </div>
  </script>
  <script type="text/template" id="navigation-view">
    <div class="header">
      <span class="username">{{ user }}</span>
      <a href="{% url 'chat:create_conversation' %}"><i class="fa fa-plus pull-left"></i></a>
      <a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out pull-right"></i></a>
    </div>
    <div class="conversations"></div>
  </script>
  <script type="text/template" id="conversation-list-view">
    <% conversations.each(function(conversation) { %>
      <div class="conversation">
        <a href="<%- conversation.getViewUrl() %>"><%- conversation.get('name') %></a>
      </div>
    <% }); %>
  </script>
  <script type="text/template" id="chat-view">
    <div class="messages"></div>
    <div class="new-message">
      <form method="post">
        {% csrf_token %}
        <div class="username">{{ user }}</div>
        <div class="text"><textarea name="text"></textarea></div>
        <div><input type="submit" value="Send"></div>
      </form>
    </div>
  </script>
  <script type="text/template" id="message-item-view">
    <div class="username"><%- message.get('author') %></div>
    <div class="text"><%- message.get('text') %></div>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
  <script src="{% static 'bb_chat/app.js' %}"></script>
</body>
</html>
