html {
  height: 100%;
}

body {
  height: 100%;
  background: #ddd;
}

.container {
  height: 100%;
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #fff;
  border: 4px solid #000;
  display: flex;
  flex-flow: column nowrap;
}

.content {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.navigation {
  order: 1;
  flex: 25;
  box-sizing: border-box;
  border-right: 4px solid #000;
  display: flex;
  flex-flow: column nowrap;
}

.main {
  order: 2;
  flex: 75;
  display: flex;
  flex-flow: row nowrap;
}

.header {
  flex: none;
  padding: 0.5em;
  border-bottom: 4px solid #000;
}

.conversations,
.messages {
  flex: auto;
  overflow-y: scroll;
}

.conversation a {
  display: block;
  padding: 0.5em;
  border-bottom: 2px solid #000;
}

.conversation a,
.header a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.conversation a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  left: -2px;
  background: #000;
  transition: left 0.1s;
}

.conversation a:hover:before,
.conversation a:active:before {
  left: 0;
}

.chat {
  flex: auto;
  display: flex;
  flex-flow: column nowrap;
}

.message {
  max-width: 28em;
  margin: 0.75em 1em;
  padding-left: 2em;
}

.message .text {
  white-space: pre-wrap;
}

.new-message {
  flex: none;
  padding: 0.75em 1em 0.75em 3em;
  border-top: 4px solid #000;
}

.new-message textarea {
  max-width: 28em;
  width: 100%;
  height: 2.5em;
}

.username {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea {
  border: 2px solid black;
}
